[Unit]
Description = System monitor for the Raspberry PI
After = network.target

[Service]
Type = simple
ExecStart = /usr/bin/rpimonitord

[Install]
WantedBy = multi-user.target
