[Unit]
Description = System monitor for the Raspberry PI
After = network.target

[Service]
EnvironmentFile = /etc/conf.d/rpimonitord
Type = simple
ExecStart = /usr/bin/rpimonitord $CONFFILE

[Install]
WantedBy = multi-user.target
