#
# OpenSSL configuration file.
# Extracted from http://zepala.free.fr/?q=book/export/html/49
#
 
# Establish working directory.
dir                     = .
 
[ ca ]
default_ca              = CA_default
 
[ CA_default ]
serial                  = $dir/db/serial
database                = $dir/db/certindex.txt
new_certs_dir           = $dir/certs
certificate             = $dir/public/cacert.pem
private_key             = $dir/private/cakey.pem
default_days            = 365
default_md              = sha1
preserve                = no
email_in_dn             = no
nameopt                 = default_ca
certopt                 = default_ca
policy                  = policy_match
 
[ policy_match ]
#countryName            = match
#stateOrProvinceName    = match
#organizationName       = match
countryName             = supplied
stateOrProvinceName     = supplied
organizationName        = supplied
organizationalUnitName  = optional
commonName              = supplied
emailAddress            = optional
 
[ req ]
default_bits            = 2048      # Size of keys
default_keyfile         = key.pem   # name of generated keys
default_md              = md5       # message digest algorithm
string_mask             = nombstr   # permitted characters
distinguished_name      = req_distinguished_name
x509_extensions         = v3_req
 
[ req_distinguished_name ]
# Variable name                          Prompt string
#-------------------------              ----------------------------------
countryName                             = Country Name (2 letter code)
countryName_min                         = 2
countryName_max                         = 2
stateOrProvinceName                     = State or Province Name (full name)
localityName                            = Locality Name (city, district)
organizationName                        = Organization Name (company)
organizationName_max                    = 64
organizationalUnitName                  = Organizational Unit Name (department, division)
organizationalUnitName_max              = 64
commonName                              = Common Name (hostname, IP, or your name)
commonName_max                          = 64
emailAddress                            = Email Address
emailAddress_max                        = 40
 
# Default values for the above, for consistency and less typing.
# Variable name                  Value
#------------------------       ------------------------------
countryName_default             = FR
stateOrProvinceName_default     = France
localityName_default            = Grenoble
organizationName_default        = RPi-Experiences
organizationalUnitName_default  = www
commonName_default              = RPi-Monitor
emailAddress_default            = root@localhost

[ v3_ca ]
nsComment                       = "RPi-Experiences Certificate Authority"
basicConstraints                = CA:TRUE
subjectKeyIdentifier            = hash
authorityKeyIdentifier          = keyid:always,issuer:always
 
[ v3_req ]
nsComment                       = "Certificate delivered by RPi-Experiences."
basicConstraints                = CA:FALSE
subjectKeyIdentifier            = hash
subjectAltName                  = @ALTNAMES

[ server ]
nsComment                       = "Certificate delivered by RPi-Experiences."
basicConstraints                = CA:FALSE
subjectKeyIdentifier            = hash
subjectAltName                  = @ALTNAMES
nsCertType                      = server
authorityKeyIdentifier          = keyid:always,issuer:always
keyUsage                        = digitalSignature, keyEncipherment
extendedKeyUsage                = serverAuth
 
[ALTNAMES]
DNS.1  = localhost
DNS.2  = raspberrypi
DNS.3  = RPiIpAddress
DNS.4  = pi
IP.1   = 0.0.0.0
IP.2   = 127.0.0.1
IP.3   = 192.168.0.123
